body, div, p, h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    margin: 0; padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hidden {
    display: none !important;
}

table {
    border-collapse: collapse;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

th, td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
}